.padding-global {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.container-medium,
.container-small,
.container-large {
  margin-right: auto !important;
  margin-left: auto !important;
}
.container-large {
  width: 100%;
  max-width: 72.5rem;
  margin-left: auto;
  margin-right: auto;
}
.padding-section-large {
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.section-info_primary-text {
  background: linear-gradient(
    180deg,
    #1a2224 11.35%,
    rgba(26, 34, 36, 0.5) 250.2%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section-info_primary-text {
  display: inline;
}
h2 {
  margin-top: 20px;
  font-size: 32px;
  line-height: 36px;
}

/* marquee */
.result-wraperr {
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 8rem;
  display: flex;
  position: relative;
  overflow: hidden;
}
.marquee-pane.loop-move-left {
  justify-content: flex-start;
  align-items: stretch;
  /* animation-duration: 35s; */
}
.marquee-pane {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}
.loop-move-left {
  animation-name: loop-move-left;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-play-state: running;
  animation-fill-mode: both;
}
@keyframes loop-move-left {
  100% {
    transform: translateX(-100%);
  }
}

.result-card_item {
  flex-flow: row;
  display: flex;
}
.result_card {
  border: 1.5px solid #e4e4e4;
  background-color: #fff;
  border-radius: 0.75rem;
  flex-flow: column;
  justify-content: space-between;
  align-self: stretch;
  align-items: stretch;
  min-width: 14.5rem;
  margin-right: 2rem;
  display: flex;
}
.result_card-info {
  grid-column-gap: 0.25rem;
  grid-row-gap: 0.25rem;
  border-style: none;
  border-width: 1px;
  border-top-color: #000;
  border-left-color: #000;
  border-right-color: #000;
  flex-flow: column;
  justify-content: flex-start;
  align-self: stretch;
  align-items: flex-start;
  padding: 1.5rem;
  display: flex;
}
.result_card-info_number {
  color: #000;
  letter-spacing: -0.8px;
  font-family: Bricolage Grotesque, sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.result_card-info_description {
  color: #3c3c3c;
  letter-spacing: -0.4px;
  font-size: 1.25rem;
  line-height: 1.2;
}
.result_card-logo {
  border-top: 1px solid #e4e4e4;
  padding: 0.75rem 2rem;
}

@media screen and (max-width: 479px) {
  .result_card {
    margin-right: 1.5rem;
  }
  .result_card-info {
    padding: 1rem;
  }
  .result_card-info_number {
    font-size: 2rem;
  }
  .result_card-info_description {
    font-size: 1rem;
  }
  .result_card-info_logo {
    min-width: auto;
    height: 2rem;
    min-height: 2rem;
    display: block;
  }
}

.swiper-container {
  width: 100%;
  padding: 100px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide-content {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 400px !important;
  height: 250px !important;
  font-size: 24px;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out,
    opacity 0.5s ease-in-out !important;
  position: relative;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
}
.purple {
  background-color: purple;
}
.swiper-slide-active {
  transform: scale(1.2) !important;
  filter: blur(0px);
  opacity: 1;
}
.swiper-slide-prev,
.swiper-slide-next {
  transform: scale(0.8) !important;
  filter: blur(5px);
  opacity: 1;
}
.swiper-slide-prev-prev,
.swiper-slide-next-next,
.swiper-slide:not(.swiper-slide-prev):not(.swiper-slide-next):not(
    .swiper-slide-active
  ) {
  opacity: 0;
  pointer-events: none;
}
