.section_solutions {
  background-color: #12191b;
  position: relative;
}
.solution_bg {
  position: absolute;
  inset: 0%;
}
.section-curve-line {
  opacity: 0.55;
  max-width: 30rem;
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translate(-50%);
}
.padding-global.relative {
  z-index: 1;
  position: relative;
}
.padding-global {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.container-large {
  margin-right: auto !important;
  margin-left: auto !important;
}
.container-large {
  width: 100%;
  max-width: 72.5rem;
  margin-left: auto;
  margin-right: auto;
}
.padding-section-large.relative {
  position: relative;
}
.padding-section-large {
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.solutions_wrap {
  max-width: 35rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.section-info-wrap {
  z-index: 1;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  text-align: center;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}
.section-info_primary-text-light {
  color: #fff;
  display: inline;
}
.section-info_primary-text-light {
  letter-spacing: -0.64px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Bricolage Grotesque, sans-serif;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
}
.heading-text-italic {
  letter-spacing: -0.38px;
  word-spacing: -0.5rem;
  padding-right: 6px;
  font-family: Libre Baskerville, sans-serif;
  font-style: italic;
  font-weight: 400;
  display: inline;
}
.sub-title {
  color: #8c8c8c;
  letter-spacing: -0.2px;
  font-size: 1.2rem;
  line-height: 1.6;
}
.solutions_grid.grid {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.solutions_grid {
  margin-top: 5rem;
  position: relative;
}
.grid {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  grid-template-rows: auto;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-auto-columns: 1fr;
  display: grid;
}
.solutions_card-wrap.column {
  grid-column-end: span 2;
}
.solutions_card-wrap {
  width: 100%;
  height: 100%;
}
.column {
  grid-area: auto / auto / span 1 / span 1;
}
.solutions_card-holder-wrap {
  z-index: 5;
  background-color: #1a2224;
  border: 1.5px solid #293c40;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}
.solutions_card-holder {
  border-radius: 1rem;
  width: 100%;
  height: calc(100% - 4px);
  margin: 2px;
}
.solutions_card {
  background-color: #1a2224;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}
.solutions_card_bg {
  z-index: 0;
  pointer-events: none;
  position: absolute;
  inset: 0%;
}
.webflow-lines {
  z-index: 1;
  max-width: 29.6875rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.green-shade-webflow {
  z-index: 2;
  position: absolute;
  inset: 0% auto auto 0%;
}
.solutions_card-content {
  z-index: 2;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2.5rem;
  display: flex;
  position: relative;
}
.solutions_card_top-content {
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  flex-flow: column;
  display: flex;
}
.icon-text-wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: column;
  display: flex;
}
.icon-text-wrap {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}
.icon-text_icon-svg {
  color: #0daa6e;
  width: 1.5rem;
  height: 1.5rem;
}
.icon-text_text {
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.45;
  transform: translateY(2px);
}
.solutions_card-content-image-wrap {
  z-index: 1;
  pointer-events: none;
  flex: none;
  justify-content: flex-end;
  align-self: flex-end;
  align-items: flex-end;
  width: 50%;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
}
.webflow-navigator {
  z-index: 2;
  width: 19vw;
  max-width: 15.5rem;
  position: absolute;
  bottom: 0;
  left: -4%;
}
.webflow-dashboard {
  z-index: 1;
  width: 42vw;
  max-width: 36rem;
  min-height: 5rem;
  position: relative;
  bottom: 0;
  right: -51%;
  transform: translateY(1rem);
}
.webflow-attributes {
  z-index: 2;
  width: 14vw;
  max-width: 13rem;
  position: absolute;
  bottom: 0;
  left: 15%;
}
.webflow-tag-svg {
  z-index: 3;
  color: #4353ff;
  flex: none;
  width: 6.8125rem;
  height: 2.125rem;
  position: absolute;
  top: 50%;
  left: 0;
}
.path,
.webflow-tag-text {
  color: #fff;
}
.solutions-card_ligh-wrap {
  z-index: -1;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}
.solutions-card_light-holder {
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}
.solutions-card_gradinet-light {
  background-color: #fff;
  background-image: linear-gradient(90deg, #0daa69, #1e3034);
  filter: blur(13px);
  width: 9.375rem;
  height: 5rem;
}
.solutions_card-wrap.column.span-1 {
  grid-column-end: span 1;
}
.solutions_card.verticle {
  flex-flow: column;
}

.solutions_card-content.webflow-shopify {
  padding-bottom: 1rem;
}
.webflow-shopify_imp-wrap {
  position: relative;
}
.text-color-grey {
  color: #8f8f8f;
}
.solutions_card_description {
  font-size: 1rem;
}
.solutions_card_shopify-img {
  pointer-events: none;
  width: 100%;
}
.shopify-svg {
  width: 4.2rem;
  position: absolute;
  top: 11%;
  right: 11%;
}
.rect,
.rect-3 {
  color: #141a1c;
}
.path-2 {
  color: #95bf46;
}
.path-3 {
  color: #95bf46;
}
.path-4 {
  color: #fff;
}
.webflow-svg {
  color: #1a2224;
  width: 4rem;
  position: absolute;
  top: 27%;
  left: 19%;
}
.solutions_card-wrap.column.span-3 {
  grid-column-end: span 3;
}
.solutions_user-center_image {
  z-index: 0;
  pointer-events: none;
  height: 100%;
  position: absolute;
  right: 0;
}
.solutions_card-content.user-centric {
  grid-column-gap: 2.25rem;
  grid-row-gap: 2.25rem;
  width: 55%;
  max-width: 32rem;
}
.solutions_card_title {
  color: #fff;
  letter-spacing: -0.32px;
}
.icon-text_icon-svg {
  color: #0daa69;
  width: 1.5rem;
  height: 1.5rem;
}
.solutions_card-content-user-centric {
  z-index: 1;
  flex: none;
  justify-content: flex-end;
  align-self: flex-end;
  align-items: flex-end;
  width: 32rem;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
}
.solutions_user-center_img.color-panel {
  z-index: 2;
  pointer-events: none;
  width: 9.6rem;
}
.solutions_user-center_img {
  position: absolute;
  bottom: 0;
  right: 0;
}
.solutions_user-center_img.main-dashbaord {
  z-index: 1;
  pointer-events: none;
  width: 100%;
  position: relative;
}
.solutions_user-center_img.icon-panel {
  z-index: 3;
  pointer-events: none;
  width: 11.7rem;
  inset: -2.3rem auto auto 8.2rem;
}
.solutions_user-center_img.lottie-icons {
  z-index: 3;
  pointer-events: none;
  width: 11rem;
  bottom: auto;
  left: -2.5rem;
  right: auto;
}
.solutions_user-center_img.animate-img {
  z-index: 0;
  pointer-events: none;
  width: 6.25rem;
  bottom: 4.9rem;
  left: 0;
  right: auto;
}
.solutions_user-center_img.controller-panel {
  z-index: 1;
  pointer-events: none;
  width: 13rem;
  inset: 1.2rem auto auto 0.1rem;
}
.solutions_user-center_img.figma {
  z-index: 3;
  width: 3.2rem;
  bottom: 12.8rem;
  left: 1.25rem;
  right: auto;
}

/* 4 block */
.solutions_revamp-blur {
  position: absolute;
  bottom: 0;
}
.solutions_card-content.revamp {
  padding-bottom: 1rem;
}
.solutions_card_title {
  color: #fff;
  letter-spacing: -0.32px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Bricolage Grotesque, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3;
}
.solutions_card-content-image-wrap._w-100 {
  width: 100%;
  margin-top: auto;
  position: relative;
}
.solutions_revamp-image {
  z-index: 2;
  pointer-events: none;
  width: 100%;
  position: relative;
}
.wordpress-svg {
  z-index: 3;
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  top: 0.9rem;
  left: 27%;
}
.g {
  color: #2c3a3e;
}
.g-2 {
  color: #fff;
}
.revamp-webflow-svg {
  z-index: 3;
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: -3%;
  right: 18%;
}
.g-3 {
  color: #146ef5;
}

/* 5th Block */
.solutions_wized-blur {
  width: 100%;
  position: absolute;
  inset: 0%;
}
.solutions_card-content.padding-bottom-0 {
  padding-bottom: 0;
}
.solutions_card_top-content.wized {
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
  align-items: flex-start;
  max-width: 26.5rem;
}
.solutions_card_title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Bricolage Grotesque, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3;
}
.solutions_card_title {
  margin-top: 10px;
}
.spacer-tiny {
  width: 100%;
  padding-top: 0.125rem;
}
.solutions_wized-img {
  pointer-events: none;
  width: 100%;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.solutions_wized-img-mobile {
  pointer-events: none;
  width: 100%;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  display: none;
}
.solutions_wized-image-icons.xano {
  top: auto;
  bottom: 41%;
  left: 22%;
}
.solutions_wized-image-icons {
  width: 4.5rem;
  height: 4.5rem;
  position: absolute;
  top: 0;
}
.solutions_wized-image-icons.wized {
  top: auto;
  bottom: 45%;
  left: 50%;
}
.solutions_wized-image-icons.webflow {
  top: -0.6rem;
  right: 11%;
}

/* Bg image */
.solution_bg-noise {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-35%);
}

@media screen and (max-width: 991px) {
  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .solutions_grid.grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .solutions_card-wrap.column,
  .solutions_card-wrap.column.span-1,
  .solutions_card-wrap.column.span-3 {
    grid-column-end: auto;
  }
  .webflow-tag-svg {
    left: 1rem;
  }
}
@media screen and (max-width: 767px) {
  .padding-global {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .section-info_primary-text-light {
    font-size: 2rem;
  }
  .sub-title {
    font-size: 0.9rem;
  }
  .solutions_grid.grid {
    margin-top: 3rem;
  }
  .solutions_card {
    flex-flow: column;
  }
  .webflow-lines {
    width: 100%;
    max-width: 100%;
    inset: auto 0 0;
    transform: none;
  }
  .solutions_card-content {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    padding: 1.5rem 1.5rem 1rem;
  }
  .solutions_card_title {
    letter-spacing: -0.24px;
  }
  .solutions_card_title {
    font-size: 1.5rem;
    margin: 0;
  }
  .solutions_card-content-image-wrap {
    width: 100%;
    margin-top: 1rem;
    position: relative;
  }
  .solutions_card_title {
    font-size: 1.25rem;
  }
  .icon-text-wrapper {
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
  }

  .webflow-tag-svg {
    z-index: 2;
    width: 6rem;
    height: 2rem;
    top: 0.5rem;
    left: auto;
    right: 5rem;
  }
}
@media screen and (max-width: 479px) {
  .sub-title {
    font-size: 0.75rem;
  }
  .webflow-tag-svg {
    top: 1rem;
    right: 14%;
  }
  .icon-text_icon-svg {
    width: 1.2rem;
    height: 1.2rem;
  }
  .icon-text_text {
    font-size: 0.8rem;
  }
  .hide,
  .hide-tablet {
    display: none !important;
  }
  .secondary-btn-text {
    font-size: 1rem;
  }
  .secondary-btn_wrap {
    width: 1.5rem;
  }
  .secondary-btn_icon {
    width: 1.125rem;
  }
}

/* Blue theme */
.solutions-card_gradinet-light {
  background-color: #fff;
  background-image: linear-gradient(90deg, royalblue, #1e3034);
  filter: blur(13px);
  width: 9.375rem;
  height: 5rem;
}
.path-2,
.path-3 {
  color: royalblue;
}
.icon-text_icon-svg {
  color: royalblue;
  width: 1.5rem;
  height: 1.5rem;
}
.solution-bg-green,
.solutions_card_shopify-img,
.green-shade-webflow,
.solutions_user-center_image,
.solutions_revamp-blur,
.solutions_wized-blur {
  filter: hue-rotate(60deg);
}
